* {
  box-sizing: border-box;
}

body {
  background: #f15058;
  margin: 0 10px;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
}

/* Wrapper */
.wrapper {
  margin: 0 auto;
  max-width: 1100px;
}

/* floating adv */
.floating-adv {
  line-height: 0.6rem;
  position: fixed;
  right: -10px;
  top: 50vh;
  background: white;
  transform: rotate(270deg);
}

/* anchor tags */
a {
  color: white;
  text-decoration: none;
}

/* h tags */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}

h1 {
  font-size: 3.5rem;
  margin: 16px 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

p,
a {
  font-size: 1rem;
}

/* Navigation Bar */
.navigation-bar__head ul {
  margin: 1rem 0 2rem 0;
  padding: 0;
}

.navigation-bar__head ul li {
  display: inline-block;
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
}

.navigation-bar__head ul li:not(:last-of-type) {
  margin-right: 10px;
}

.navigation-bar__head ul li a {
  text-decoration: none;
}

.navigation-bar__head ul li a:hover {
  text-decoration: white wavy underline 2px;
}

.navigation-bar {
  display: flex;
  justify-content: center;
}

/* Main container */

.main-container__info {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-container__guitar-img {
  width: 45%;
  display: block;
  margin: 40px auto;
  transform: rotate(30deg);
}

.main-container__guitar-img-container > p {
  text-align: center;
}

.main-container__projects {
  margin: 40px 0;
  padding: 0;
}

.main-container__projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-container__projects li {
  border-top: 1px dashed black;
  padding: 1.6rem 0;
  font-style: bold;
}

.main-container__projects li:last-of-type {
  border-bottom: 1px dashed black;
}

/* Footer */

.quote-container {
  margin: 40px 0;
  padding: 0;
}

.contact-container {
  margin: 40px 0;
  padding: 0;
  margin-bottom: 100px;
}

.contact-container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.6rem;
}

.contact-container ul li a {
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  /* font size control */
  p,
  a {
    font-size: 1.1rem;
  }

  /* main */
  .main-container__info {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .main-container__guitar-img-container {
    width: 50%;
  }
  .main-container__about-me {
    width: 50%;
  }
  .main-container__guitar-img {
    width: 30%;
    max-width: 200px;
    margin: auto;
    transform: rotate(0deg);
  }
  .main-container__projects ul li a,
  .main-container__projects-title {
    font-size: 3rem;
  }

  /* footer */
  .footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .quote-container {
    margin: 40px 0;
    padding: 0;
    width: 50%;
  }
  .contact-container {
    margin: 40px 0;
    padding: 0;
    width: 50%;
    text-align: center;
  }
}
